Repository PyFstat/PyFstat, pull requests merged in 2020-09, with the labels that each got.

#151 allow current black version again
  .github/workflows/integration.yml
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  pyfstat/mcmc_based_searches.py
  pyfstat/optimal_setup_functions.py
  tests.py
Labels: documentation, meta

#152 predict_fstat updates and require lalsuite >= 6.76
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  requirements.txt
  setup.py
  tests.py
Labels: data, enhancement, packaging

#155 MCMC: store sampler as self.sampler
  pyfstat/mcmc_based_searches.py
Labels: enhancement, mcmc

#153 adopt flake8 linting
  .github/workflows/integration.yml
  README.md
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_standard_directed_MCMC_search_on_1_glitch.py
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_grid_search.py
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
  examples/run_all_examples.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
  pyfstat/grid_based_searches.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  pyfstat/mcmc_based_searches.py
  pyfstat/tcw_fstat_map_funcs.py
  setup.cfg
  tests.py
Labels: enhancement, meta

#158 Add artifact upload
  .github/workflows/run_examples.yml
Labels: enhancement, examples

#162 Writer: fix check_cached_data_okay_to_use() for multiple IFOs
  pyfstat/make_sfts.py
Labels: data

#159 close figures after saving (if not returning)
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
Labels: grids, mcmc, plotting

#168 merge simple_mcmc_vs_grid example into single script and improve it
  examples/mcmc_vs_grid_simple_example/PyFstat_example_make_data_for_simple_mcmc_vs_grid.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_plot_grid_vs_mcmc_comparison.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_grid_search.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_search.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
Labels: examples, grids, mcmc

#169 Include logging print after every instantiation
  pyfstat/core.py
  pyfstat/tcw_fstat_map_funcs.py
Labels: core, enhancement

#172 MCMC plots: properly rescale injection parameters
  examples/followup_examples/PyFstat_example_semi_coherent_directed_follow_up.py
  examples/mcmc_examples/PyFstat_example_MCMC_search_using_initialisation.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/transient_examples/PyFstat_example_long_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
  pyfstat/mcmc_based_searches.py
Labels: mcmc, plotting

#173 fix MCMCSearch.plot_prior_posterior()
  pyfstat/mcmc_based_searches.py
Labels: mcmc, plotting

#175 fix logging of Writer.make_cff()
  pyfstat/make_sfts.py
Labels: data

#176 tests of grid searches: use actual injection parameters in the non-gridded dimensions
  tests.py
Labels: grids, tests

#177 GridSearch and TransientGridSearch: log grid size before running
  pyfstat/grid_based_searches.py
Labels: enhancement, grids

#178 GridSearch.check_old_data_is_okay_to_use(): add length check
  pyfstat/grid_based_searches.py
Labels: grids

#174 add mcmc vs grid binary comparison example
  examples/binary_examples/PyFstat_example_binary_mcmc_vs_grid_comparison.py
Labels: binaries, examples, mcmc

#183 Fix and update chainconsumer functionalities
  .github/workflows/run_examples.yml
  README.md
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  pyfstat/mcmc_based_searches.py
Labels: enhancement, examples

#185 MCMC: Fix checks when plotting injection parameters
  pyfstat/mcmc_based_searches.py
Labels: enhancement, mcmc, plotting

#179 GridSearch.get_array_from_tuple(): change from np.arange() to np.linspace()
  pyfstat/grid_based_searches.py
  tests.py
Labels: enhancement, grids

#187 fix plot_corner(truths) in glitch example
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
Labels: examples, mcmc

#188 remove kwargs from helper_functions.predict_fstat()
  pyfstat/helper_functions.py
Labels: bug

#196 Make tests faster
  .github/workflows/integration.yml
  tests.py
Labels: tests

#186 Fix cumulative twoF
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_standard_directed_MCMC_search_on_1_glitch.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/other_examples/PyFstat_example_twoF_cumulative.py
  pyfstat/core.py
  pyfstat/helper_functions.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: bug, core, enhancement, plotting
