Repository PyFstat/PyFstat, pull requests merged in 2020-07, with the labels that each got.

#69 core.py: fix "SyntaxError: Non-ASCII character '\xc3'"
  pyfstat/core.py
Labels: core

#68 MCMCSearch.generate_loudest(): change to use run_commandline()
  pyfstat/mcmc_based_searches.py
Labels: mcmc

#67 Writer.check_cached_data_okay_to_use(): clean solution to cmd from SFT
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
Labels: data

#70 Improve GridSearch.check_old_data_is_okay_to_use() and read in params dict
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/helper_functions.py
Labels: core, grids, tests

#75 Add Ephemerides to Dockerfile
  Dockerfile
Labels: docker

#77 Improve documentation for optimal setup
  pyfstat/optimal_setup_functions.py
Labels: documentation, mcmc

#38 Prune injection_helper_functions
  pyfstat/injection_helper_functions.py
Labels: data, question

#79 docker build: Fetch all history using checkout@v2
  .github/workflows/docker-publish.yml
Labels: docker

#66 add Rodrigo to authors in bibtex (and later Zenodo)
  README.md
  setup.py
Labels: meta

#80 update packaging for PyPI
  CHANGELOG.md
  MANIFEST.in
  README.md
  examples/binary_examples/PyFstat_example_semi_coherent_binary_search_using_MCMC.py
  examples/followup_examples/PyFstat_example_semi_coherent_directed_follow_up.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_make_data_for_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_standard_directed_MCMC_search_on_1_glitch.py
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/mcmc_examples/PyFstat_example_MCMC_search_using_initialisation.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
  examples/other_examples/PyFstat_example_sliding_window.py
  examples/other_examples/PyFstat_example_twoF_cumulative.py
  examples/transient_examples/PyFstat_example_long_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_make_data_for_long_transient_search.py
  examples/transient_examples/PyFstat_example_make_data_for_short_transient_search.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
  setup.py
Labels: packaging

#87 MCMCSearch.generate_loudest(): warn for transients
  pyfstat/mcmc_based_searches.py
Labels: mcmc, transients

#85 integration.yml: put black first, build distributions, upload releases to TestPyPi
  .github/workflows/integration.yml
Labels: meta, packaging, releases, tests

#89 publish releases to real PyPI
  .github/workflows/integration.yml
Labels: releases

#86 GridSearch and TransientGridSearch: extend test coverage and fix small things
  CHANGELOG.md
  pyfstat/grid_based_searches.py
  tests.py
Labels: bug, grids, tests, transients

#92 examples: all data into PyFstat_example_data/PyFstat_example_*
  examples/binary_examples/PyFstat_example_semi_coherent_binary_search_using_MCMC.py
  examples/followup_examples/PyFstat_example_semi_coherent_directed_follow_up.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_make_data_for_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_standard_directed_MCMC_search_on_1_glitch.py
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/mcmc_examples/PyFstat_example_MCMC_search_using_initialisation.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
  examples/other_examples/PyFstat_example_sliding_window.py
  examples/other_examples/PyFstat_example_twoF_cumulative.py
  examples/transient_examples/PyFstat_example_long_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_make_data_for_long_transient_search.py
  examples/transient_examples/PyFstat_example_make_data_for_short_transient_search.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
Labels: examples

#93 add prior_posterior plots to MCMC examples
  examples/binary_examples/PyFstat_example_semi_coherent_binary_search_using_MCMC.py
  examples/followup_examples/PyFstat_example_semi_coherent_directed_follow_up.py
  examples/mcmc_examples/PyFstat_example_MCMC_search_using_initialisation.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/transient_examples/PyFstat_example_long_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
Labels: enhancement, examples, mcmc, plotting

#91 make_sfts: change options to better distinguish signal duration vs data duration
  examples/transient_examples/PyFstat_example_long_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_make_data_for_long_transient_search.py
  examples/transient_examples/PyFstat_example_make_data_for_short_transient_search.py
  pyfstat/core.py
  pyfstat/make_sfts.py
  tests.py
Labels: data, enhancement

#95 Estimate coverage bands by default, extend feature to binaries
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/helper_functions.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: core, enhancement, grids, mcmc

#98 Call computetransientfstatmap once
  pyfstat/core.py
Labels: core, enhancement

#101 fix typo in TransientGridSearch.write_F_mn()
  pyfstat/grid_based_searches.py
Labels: bug, transients

#100 fix semicoherent BSGL
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: core, enhancement

#103 MCMC: save twoF into ASCII .dat output file
  pyfstat/mcmc_based_searches.py
Labels: enhancement, mcmc

#102 add mcmc_vs_grid_simple_example
  examples/mcmc_vs_grid_simple_example/PyFstat_example_make_data_for_simple_mcmc_vs_grid.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_plot_grid_vs_mcmc_comparison.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_grid_search.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_search.py
Labels: examples, grids, mcmc

#107 expose and fix bug in estimate_min_max_CoverFreq for non-fixed sky locations
  pyfstat/core.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: core, mcmc, tests
