Repository PyFstat/PyFstat, pull requests merged in 2020-12, with the labels that each got.

#220 Add example for tracks
  examples/other_examples/PyFstat_example_spectrogram.py
  pyfstat/helper_functions.py
  tests.py
Labels: examples

#222 Sphinx
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/pyfstat.rst
  docs/source/tests.rst
Labels: documentation

#224 add .readthedocs.yml to allow using both requirements.txt files
  .readthedocs.yml
Labels: documentation

#171 make start, tend optional in get_fullycoherent_twoF()
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/helper_functions.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: core, examples, grids, mcmc, tests, transients

#229 MCMC: initiate search object before checking for old data, plus cumulative fixes
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_standard_directed_MCMC_search_on_1_glitch.py
  pyfstat/core.py
  pyfstat/mcmc_based_searches.py
Labels: mcmc, plotting

#231 ComputeFstat: remove get_full_CFSv2_output()
  pyfstat/core.py
Labels: core

#232 Improve core docs
  docs/source/conf.py
  pyfstat/core.py
Labels: core, documentation

#233 sphinx: autodoc_member_order = "bysource"
  docs/source/conf.py
Labels: documentation

#234 improve documentation of everything in make_sfts.py
  pyfstat/make_sfts.py
Labels: binaries, data, documentation, injections

#235 Writer.run_makefakedata(): remove dysfunctional code for removing old files
  pyfstat/make_sfts.py
Labels: data

#237 fix BSGL/lnBSGL chaos to consistent log10BSGL
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: core, examples, grids, mcmc, tests

#238 Improve grid docs, make some methods private
  pyfstat/grid_based_searches.py
Labels: documentation, grids, transients

#239 helper_functions: remove compute_P_twoFstarcheck() and compute_pstar()
  pyfstat/helper_functions.py
Labels: helper_functions

#240 helper_functions: remove orphaned twoFDMoffThreshold()
  pyfstat/helper_functions.py
Labels: helper_functions

#241 helper functions: improve documentation and a few minor fixes
  pyfstat/helper_functions.py
Labels: documentation, helper_functions
