Repository PyFstat/PyFstat, pull requests merged in 2020-10, with the labels that each got.

#195 Setup dev environment
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  README.md
  bin/check_if_virtual_environment.py
  bin/get-and-export-ephemeris.sh
  bin/setup-dev-tools.sh
  requirements-dev.txt
Labels: enhancement, meta

#197 consistent parameter naming convention
  pyfstat/core.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  tests.py
Labels: core

#204 improve sqrtSX handling
  pyfstat/core.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  pyfstat/mcmc_based_searches.py
Labels: core, data, enhancement

#205 Fix expected SFT file names when duration is not multiple of Tsft
  pyfstat/make_sfts.py
  tests.py
Labels: bug, data

#209 Fix bibtex entry
  README.md
Labels: documentation, meta

#207 tests/Add BinaryModulatedWriter tests
  tests.py
Labels: binaries, data, tests

#211 Implement injection parameter generator
  pyfstat/__init__.py
  pyfstat/make_sfts.py
  tests.py
Labels: data, enhancement, injections

#212 add new example for InjectionParametersGenerator and its all-sky child
  examples/other_examples/PyFstat_example_InjectionParametersGenerator.py
Labels: examples

#214 Deprecate unmaintained grid classes
  pyfstat/core.py
  pyfstat/grid_based_searches.py
Labels: grids

#216 tests.py: remove spurious file copy
  tests.py
Labels: tests

#217 cleanup run_all_examples.py outputs
  examples/run_all_examples.py
Labels: examples
