Repository PyFstat/PyFstat, pull requests merged in 2020-06, with the labels that each got.

#39 Binary injections and examples
  examples/binary_examples/semi_coherent_binary_search_using_MCMC.py
  pyfstat/__init__.py
  pyfstat/core.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: data, enhancement

#44 fixes to MCMSearch.generate_loudest()
  pyfstat/mcmc_based_searches.py
Labels: mcmc

#47 Versioneer
  .gitattributes
  MANIFEST.in
  pyfstat/__init__.py
  pyfstat/_version.py
  pyfstat/core.py
  pyfstat/helper_functions.py
  setup.cfg
  setup.py
  versioneer.py
Labels: core, meta

#46 output file headers: include search class name and init arguments dict
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
Labels: core, enhancement, grids

#49 Test against CFSv2 and improve compatibility
  CHANGELOG.md
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: core, enhancement, grids, tests

#41 implement noiseSFTs option for Writer
  pyfstat/make_sfts.py
  tests.py
Labels: data, enhancement

#56 pin lalsuite==6.70 to fix github pipelines
  setup.py
Labels: meta, tests

#57 re-add test_noise_sfts.py from before 7bf818d0
  examples/other_examples/test_noise_sfts.py
Labels: data, examples

#53 Fix transient searches
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
Labels: bug, examples, grids, mcmc, transients

#59 lalsuite-6.72 compatibility
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  setup.py
Labels: meta

#62 sync requirements.txt and setup.py
  requirements.txt
  setup.py
Labels: meta

#64 Fix MCMC
  pyfstat/mcmc_based_searches.py
Labels: mcmc

#65 Fix examples
  examples/glitch_examples/semicoherent_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/grid_examples/grid_search_F0F1.py
  examples/grid_examples/grid_search_F0F1F2.py
  pyfstat/mcmc_based_searches.py
Labels: examples, grids, mcmc

#51 Writer: default to sqrtSX=0
  pyfstat/make_sfts.py
  tests.py
Labels: data, tests

#58 Add docker workflow
  .github/workflows/docker-publish.yml
  Dockerfile
  README.md
Labels: meta
