Repository PyFstat/PyFstat, pull requests merged in 2020-08, with the labels that each got.

#111 SemiCoherentSearch: fix off-by-one error in segments setup
  pyfstat/core.py
  tests.py
Labels: bug, core, tests

#110 add more MCMC tests, fix some prior types
  pyfstat/helper_functions.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: mcmc, tests

#109 Create .zenodo.json
  .zenodo.json
Labels: releases

#114 tests: temporarily disable MCMC parameter accuracy checks
  tests.py
Labels: mcmc, tests

#113 MCMC: report mean+-std and/or median+-90% instead of median+-std
  pyfstat/mcmc_based_searches.py
Labels: enhancement, mcmc

#115 MCMC: change some print statements to logging
  pyfstat/mcmc_based_searches.py
Labels: enhancement, mcmc

#116 MCMC tests: check if inj params within mean+-2std and within 90%
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: mcmc, tests

#117 make_sfts.py/Split setup depending on noiseSFTs
  pyfstat/make_sfts.py
  tests.py
Labels: data, enhancement

#120 BinaryModulatedWriter: fix refTime format in .cff
  pyfstat/make_sfts.py
Labels: bug, data

#119 tests.py/Include test case using data with gaps
  pyfstat/make_sfts.py
  tests.py
Labels: data, tests

#121 Writer: auto-estimate Band if None
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  tests.py
Labels: data, enhancement, tests

#122 Writer: remove add_noise option
  pyfstat/make_sfts.py
  tests.py
Labels: data, tests

#125 Writer simplifications and tests overhaul
  pyfstat/core.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  tests.py
Labels: core, data, enhancement, tests

#126 Semicoherent cleanup
  pyfstat/core.py
Labels: core, documentation

#131 add missing defaults to more examples
  examples/glitch_examples/PyFstat_example_make_data_for_search_on_1_glitch.py
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_make_data_for_simple_mcmc_vs_grid.py
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
  examples/other_examples/PyFstat_example_sliding_window.py
  examples/other_examples/PyFstat_example_twoF_cumulative.py
  examples/transient_examples/PyFstat_example_make_data_for_long_transient_search.py
  examples/transient_examples/PyFstat_example_make_data_for_short_transient_search.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
Labels: examples

#127 new class SearchForSignalWithJumps
  pyfstat/__init__.py
  pyfstat/core.py
  pyfstat/make_sfts.py
  tests.py
Labels: core, data, enhancement

#133 MCMCSearch._plot_walkers(): fix F->2F
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_search.py
  pyfstat/mcmc_based_searches.py
Labels: bug, mcmc, plotting

#138 Pin Black version to 19.10b0
  .github/workflows/integration.yml
Labels: meta, urgent

#135 Add options to plot injection parameters for diagnosis
  examples/binary_examples/PyFstat_example_semi_coherent_binary_search_using_MCMC.py
  pyfstat/mcmc_based_searches.py
Labels: enhancement, mcmc, plotting

#141 Fix plot_prior_posterior for a single inference
  pyfstat/mcmc_based_searches.py
Labels: bug, mcmc, plotting

#143 Fix periastron time format
  examples/binary_examples/PyFstat_example_semi_coherent_binary_search_using_MCMC.py
  pyfstat/make_sfts.py
Labels: bug, data, examples

#148 create action to run all examples
  .github/workflows/run_examples.yml
  examples/run_all_examples.py
Labels: examples, meta

#145 Make simpler parameter parsing method
  pyfstat/make_sfts.py
  tests.py
Labels: binaries, data, enhancement

#136 cleanup: remove Bunch class, refactor some functions, remove deprecated options
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/helper_functions.py
  pyfstat/make_sfts.py
  pyfstat/mcmc_based_searches.py
  tests.py
Labels: core, data, documentation, grids, mcmc
