Repository PyFstat/PyFstat, pull requests merged in 2021-01, with the labels that each got.

#242 improve documentation of transient functions
  pyfstat/grid_based_searches.py
  pyfstat/tcw_fstat_map_funcs.py
Labels: documentation, grids, transients

#244 core: use lalpulsar PULSAR_MAX_SPINS and PULSAR_MAX_DETECTORS macros
  pyfstat/core.py
Labels: core

#227 add gridcorner code
  README.md
  docs/source/pyfstat.rst
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
  pyfstat/__init__.py
  pyfstat/gridcorner.py
Labels: plotting

#243 mcmc_based_searches docs
  pyfstat/mcmc_based_searches.py
Labels: documentation

#246 Doc fixes
  .readthedocs.yml
  docs/source/conf.py
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
Labels: documentation, grids, mcmc, meta

#226 Sphinx binder
  .binder/environment.yml
  .binder/postBuild
  README.md
  docs/Makefile
  docs/requirements.txt
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/index.rst
  examples/binary_examples/PyFstat_example_binary_mcmc_vs_grid_comparison.py
  examples/binary_examples/PyFstat_example_semi_coherent_binary_search_using_MCMC.py
  examples/binary_examples/README.rst
  examples/followup_examples/PyFstat_example_semi_coherent_directed_follow_up.py
  examples/followup_examples/README.rst
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_make_data_for_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_standard_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/README.rst
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/grid_examples/README.rst
  examples/mcmc_examples/PyFstat_example_MCMC_search_using_initialisation.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/mcmc_examples/README.rst
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
  examples/mcmc_vs_grid_simple_example/README.rst
  examples/other_examples/PyFstat_example_InjectionParametersGenerator.py
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
  examples/other_examples/PyFstat_example_spectrogram.py
  examples/other_examples/PyFstat_example_twoF_cumulative.py
  examples/other_examples/README.rst
  examples/transient_examples/PyFstat_example_long_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_make_data_for_long_transient_search.py
  examples/transient_examples/PyFstat_example_make_data_for_short_transient_search.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
  examples/transient_examples/README.rst
Labels: documentation, examples

#247 doc fixes: title undersocre too short error, .gitignore
  .gitignore
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
Labels: documentation, examples

#250 Fix examples for v1.10.0
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
  examples/other_examples/PyFstat_example_spectrogram.py
  examples/run_all_examples.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
Labels: examples

#255 bump to lalsuite>=6.80 and use lalpulsar.ValidateSFTFile()
  requirements.txt
  setup.py
  tests.py
Labels: meta, tests

#256 PredictFstat: simplify input checking
  pyfstat/helper_functions.py
Labels: helper_functions

#257 Writer: SFT files/path cleanup and add validatation call
  pyfstat/make_sfts.py
Labels: data

#261 Fix plot_prior_posterior when no injection parameters
  pyfstat/mcmc_based_searches.py
Labels: bug, plotting

#245 BSGL readiness and internal cleanup
  examples/binary_examples/PyFstat_example_binary_mcmc_vs_grid_comparison.py
  examples/grid_examples/PyFstat_example_grid_search_with_BSGL.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search_with_BSGL.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
  pyfstat/tcw_fstat_map_funcs.py
  tests.py
Labels: core, examples, grids, mcmc, tests, transients

#265 [docs mcmc_based_searches.py] Add prior documentation
  pyfstat/mcmc_based_searches.py
Labels: documentation, meta

#266 Change plot_corner defaults
  pyfstat/mcmc_based_searches.py
Labels: mcmc, plotting

#267 fix TestMCMCSearchBSGL.test_MCMC_search_on_data_with_line
  tests.py
Labels: mcmc, tests

#269 do NOT always set matplotlib backend to agg
  pyfstat/helper_functions.py
Labels: plotting

#270 MCMCSearch.unit_dictionary: tp in seconds
  pyfstat/mcmc_based_searches.py
Labels: mcmc, plotting
