Repository PyFstat/PyFstat, pull requests merged in 2022-09, with the labels that each got.

#451 DetectorStates ts nparray
  pyfstat/snr.py
  tests/test_snr.py
Labels: bug, utils

#448 Update recipes v2
  README.md
  etc/pyfstat-dev.yml
  etc/pyfstat.yml
  setup.py
Labels: meta, packaging, dependencies

#452 Remove tqdm redirection functions
  pyfstat/grid_based_searches.py
  pyfstat/make_sfts.py
  pyfstat/mcmc_based_searches.py
Labels: grids, mcmc, injections

#447 444 modernize `run_commandline` logging
  pyfstat/helper_functions.py
  tests/test_helper_functions.py
Labels: utils

#455 Drop peakutils
  README.md
  etc/pyfstat-dev.yml
  setup.py
Labels: documentation, dependencies

#457 Add basic integrity check to get_sft_as_arrays
  pyfstat/utils/sft.py
  tests/test_utils/test_sft.py
Labels: tests, utils

#458 Remove empty logger calls
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
  pyfstat/mcmc_based_searches.py
Labels: bug, examples

#465 clean up some logging string formatting in examples
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/transient_examples/PyFstat_example_make_data_for_long_transient_search.py
  examples/transient_examples/PyFstat_example_make_data_for_short_transient_search.py
Labels: examples

#464 fix finalizer for non-cuda case
  pyfstat/core.py
  tests/test_core.py
Labels: core

#469 Add CI action to run Notebooks
  .github/workflows/check_notebooks.yml
  examples/tutorials/0_generating_noise.ipynb
  examples/tutorials/1_generating_signals.ipynb
  setup.py
Labels: examples, meta, tests

#470 Revert walrus operator
  pyfstat/logging.py
  pyfstat/utils/cli.py
Labels: meta, utils
