Repository PyFstat/PyFstat, pull requests merged in 2023-04, with the labels that each got.

#530 Update .readthedocs.yml
  .readthedocs.yml
Labels: documentation

#518 SFT specification v3 compatibility
  .readthedocs.yml
  README.md
  etc/pyfstat-dev.yml
  examples/binary_examples/PyFstat_example_binary_mcmc_vs_grid_comparison.py
  examples/binary_examples/PyFstat_example_semi_coherent_binary_search_using_MCMC.py
  examples/followup_examples/PyFstat_example_semi_coherent_directed_follow_up.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_grid_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_make_data_for_search_on_1_glitch.py
  examples/glitch_examples/PyFstat_example_standard_directed_MCMC_search_on_1_glitch.py
  examples/grid_examples/PyFstat_example_grid_search_F0.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1.py
  examples/grid_examples/PyFstat_example_grid_search_F0F1F2.py
  examples/grid_examples/PyFstat_example_grid_search_with_BSGL.py
  examples/mcmc_examples/PyFstat_example_MCMC_search_using_initialisation.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search_with_BSGL.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/mcmc_vs_grid_simple_example/PyFstat_example_simple_mcmc_vs_grid_comparison.py
  examples/other_examples/PyFstat_example_InjectionParametersGenerator.py
  examples/other_examples/PyFstat_example_injecting_into_noise_sfts.py
  examples/other_examples/PyFstat_example_spectrogram.py
  examples/other_examples/PyFstat_example_twoF_cumulative.py
  examples/transient_examples/PyFstat_example_long_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_make_data_for_long_transient_search.py
  examples/transient_examples/PyFstat_example_make_data_for_short_transient_search.py
  examples/transient_examples/PyFstat_example_short_transient_MCMC_search.py
  examples/transient_examples/PyFstat_example_short_transient_grid_search.py
  examples/tutorials/0_generating_noise.ipynb
  examples/tutorials/1_generating_signals.ipynb
  pyfstat/core.py
  pyfstat/make_sfts.py
  pyfstat/utils/sft.py
  setup.py
  tests/commons_for_tests.py
  tests/test_core.py
  tests/test_grid_based_searches.py
  tests/test_make_sfts.py
  tests/test_mcmc_based_searches.py
  tests/test_snr.py
  tests/test_utils/test_sft.py
Labels: documentation, data, examples, injections, utils, dependencies

#531 remove utils.get_lal_exec()
  examples/followup_examples/PyFstat_example_semi_coherent_directed_follow_up.py
  examples/mcmc_examples/PyFstat_example_MCMC_search_using_initialisation.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search.py
  examples/mcmc_examples/PyFstat_example_fully_coherent_MCMC_search_with_BSGL.py
  examples/mcmc_examples/PyFstat_example_semi_coherent_MCMC_search.py
  examples/other_examples/PyFstat_example_twoF_cumulative.py
  pyfstat/make_sfts.py
  pyfstat/utils/__init__.py
  pyfstat/utils/predict.py
  pyfstat/utils/runlalsuite.py
  tests/test_grid_based_searches.py
  tests/test_make_sfts.py
Labels: examples, utils

#533 corner 2.2.2 requires length-3 list for quantiles
  examples/glitch_examples/PyFstat_example_glitch_robust_directed_MCMC_search_on_1_glitch.py
  pyfstat/mcmc_based_searches.py
Labels: mcmc, plotting

#534 528 remove deprecated prior parsing
  pyfstat/injection_parameters.py
  tests/test_injection_parameters.py
  tests/test_old_api_injection_parameters.py
Labels: enhancement

#535 metadata updates for v2.0.0
  CHANGELOG.md
  README.md
Labels: documentation
