Repository PyFstat/PyFstat, pull requests merged in 2024-10, with the labels that each got.

#563 pin chainconsumer<1.0
  setup.py
Labels: mcmc, plotting, dependencies

#561 Allow core F-stat functions to take a dict for parameters
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  pyfstat/mcmc_based_searches.py
  tests/test_core.py
  tests/test_grid_based_searches.py
  tests/test_mcmc_based_searches.py
Labels: enhancement, core

#566 Spectogram function include gaps in timestamps
  examples/other_examples/PyFstat_example_spectrogram.py
  pyfstat/utils/sft.py
  tests/test_utils/test_sft.py
Labels: enhancement, plotting, utils
