Repository PyFstat/PyFstat, pull requests merged in 2025-02, with the labels that each got.

#577 Implementation of t0_MP and tau_MP computation for transient searches
  pyfstat/grid_based_searches.py
  pyfstat/tcw_fstat_map_funcs.py
  tests/test_grid_based_searches.py
  tests/test_tcw_fstat_map_funcs.py
Labels: core, grids, transients

#579 Fix single IFO issues
  pyfstat/core.py
  pyfstat/grid_based_searches.py
  tests/test_core.py
  tests/test_grid_based_searches.py
Labels: bug, core, grids, transients

#580 promote translate_keys_to_lal() to separately callable utils function
  pyfstat/core.py
  pyfstat/utils/__init__.py
  pyfstat/utils/runlalsuite.py
Labels: core, utils

#581 upgrade setuptools in integration.yml
  .github/workflows/integration.yml
Labels: meta, packaging
